.header {
    position: sticky;
    top: 0;
    background: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: #9a6b2f;
}

.logo img {
    height: 70px;
    margin-right: 0px;
}

/* Nav */
.nav {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 12px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav a:hover {
    color: #D64200;
}

/* Dropdown */
.dropdown {
    position: relative;
    cursor: pointer;
}



.dropdown-title {
    font-weight: 500;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.dropdown-title:hover {
    color: #D64200;
}

.dropdown-icon {
    margin-top: 8px;
    font-size: 12px;
    transition: transform 0.2s ease;
}

.dropdown-menu {
    position: absolute;
    top: 35px;
    left: 0;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.dropdown-menu a {
    padding: 10px 14px;
    color: #333;
}

.dropdown-menu a:hover {
    background: #f7f2eb;
}

/* Contact Button */
.contact-btn {
    background: var(--primary);
    color: var(--white) !important;
    padding: 8px 16px;
    border-radius: 20px;
}

/* Mobile */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 26px;
}

/* Responsive */
@media (max-width: 768px) {
    .nav {
        position: absolute;
        top: 70px;
        right: 0;
        background: var(--bg-body);
        flex-direction: column;
        width: 100%;
        padding: 20px;
        display: none;
    }

    .logo img {
        height: 60px;
        margin-right: 0px;
    }

    .nav.open {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}